{% extends 'base.html' %}

{% block Title %}
    <title>Mis Subasta</title>
{% endblock %}

{% block Style %}
    {% load static %}   
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
{% endblock %}


 {% block Content %}

    <div class="wrapper wrapper-content row animated fadeInRightBig">
        <div class="col-lg-12">
            <div class="row">
                <h1> Subastas</h1>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <h2>Historial de subastas</h2>
                </div><br>
                <table id="subasta" class="display">
                    <thead>
                        <tr>
                            <th>Ciudad Destino</th>
                            <th>Terminal</th>
                            <th>Fecha</th>
                            <th>Hora Salida</th>
                            <th>Empresa</th>
                            <th>Monto</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for x in auctions %}
                            <tr>
                                <td>{{x.passage.destination}}</td>
                                <td>{{x.passage.station_departure}}</td>
                                <td>{{x.passage.date_departure}}</td>
                                <td>{{x.passage.hour_departure}}</td>
                                <td>{{x.passage.company}}</td>
                                <td>{{x.price_init}}</td>
                                <td class="center">
                                    <a type="button" href="{% url 'Subasta_ofertar' x.pk %}" class="btn btn-xs btn-primary">Ofertar</a>
                                    <a type="button" data-id="{{x.pk}}" class="btn btn-xs btn-danger btn_delete">Eliminar</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block JavaScript %}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script src="{% static 'js/plugins/sweetalert2/sweetalert2.all.min.js' %}"></script>
<script>
    $(document).ready( function () {
        $('#subasta').DataTable();

        $('.btn_delete').on('click', function(){
            console.log()
            $.ajax({
                url: '{% url "Subasta_mis_subasta" %}',
                type: 'POST',
                data: {
                    'auction_id': $(this).data('id'),
                    'csrfmiddlewaretoken': '{{ csrf_token}}'
                },
                success: function(data){
                    swal({
                        title: 'Felicidades!',
                        text: 'Subasta eliminada',
                        type: 'success'
                    }).then(function(){
                                location.reload();
                                }, function(dismiss){
                                    location.reload();
                                }
                        );
                },
                error: function(){
                    alert("error")
                }
            });
        });
    });
</script>
{% endblock %}
