{% extends 'base.html' %}

{% block Title %}
    <title>Subasta</title>
{% endblock %}

{% block Style %}
    {% load static %}   
    <link href="{% static 'css/ok.css' %}" rel="stylesheet">
{% endblock %}


 {% block Content %}
    <div class="wrapper wrapper-content animated fadeInRightBig">
            <div class="ibox">
                        <div class="ibox-content col-lg-6">
                            <div class="row">
                                <div class="col-lg-6">
                                    <a href="{% url 'Login_profile' auction.user.user.pk %}">
                                        <h2><strong>{{auction.user.user.first_name}} {{auction.user.user.last_name}}</strong></h2>
                                    </a>
                                    <a href="{% url 'Subasta_profile' auction.user.user.pk %}" style="color: rgb(0, 0, 0);" >
                                        {% for x in range %}
                                            {% if x < puntuation %}
                                                <span> <i class="fa fa-star" style="color: rgb(255, 145, 0);"></i> </span>
                                            {% else %}
                                                <span> <i class="fa fa-star"></i> </span>
                                            {% endif %}
                                        {% endfor %}
                                    </a>
                                    <div class="border-bottom">
                                        <h2 class="text-muted">Comentarios</h2>
                                    </div>                                  
                                    <br>
                                    {% for x in comments %}
                                        <div class=" border-bottom">
                                            <h4>{{x.user_commentator.user.first_name}} {{x.user_commentator.user.last_name}}</h4>
                                            <p>{{x.commentary}}</p>
                                        </div>
                                    {% endfor %}
                                    <div class="m-t-xl">
                                        <h4>Agrega un Comentario</h4>
                                        <div class="input-group"><input type="text" id="comentary" class="form-control "> <span class="input-group-btn"> <button type="button" id="btn_comment" class="btn btn-success">Enviar</button> </span></div>    
                                    </div>
                                </div>
                                <div class="col-lg-6 border-left">
                                    <h2><strong>Pasaje</strong></h2>
                                    <h4 class="text-muted">Informacion Pasaje</h4>
                                    <h3>{{auction.passage.destination}}</h3>
                                    <h3>{{auction.passage.station_departure}}</h3>
                                    <h3>{{auction.passage.seat}}</h3>
                                    <h3 class="text-muted">Fecha Termino: {{auction.date.date}}</h3>
                                    <h3 class="text-muted">Hora Termino: {{auction.hour.hour}}</h3>
                                    <div class="m-t-lg">
                                      

                                            <input type="text" placeholder="Ofertar" id="tender" class="form-control m-t-lg">
                                            <div class="text-left">
                                                <span class="help-block m-b-none m-t-xs">Ingresa tu oferta</span>
                                            </div>
                                            <div class="text-right">
                                                <button type="button" id="send_tender" class="btn btn-success">Enviar</button>
                                            </div>
                                       
                                    </div>
                                    <div>
                                        <h5>Precio de la Subasta</h5>
                                        <p>${{auction.price_init}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
        
    </div>
{% endblock %}
{% block JavaScript %}
<script src="{% static 'js/plugins/sweetalert2/sweetalert2.all.min.js' %}"></script>
<script>
    $(document).ready(function(){
        $("#send_tender").on('click', function(){
            $.ajax({
                url: '{% url "Subasta_ofertar" auction.pk %}',
                type: 'POST',
                data: {
                    'tender': $("#tender").val(),
                    'action': 'print',
                    'csrfmiddlewaretoken': '{{ csrf_token}}'
                },
                success: function(data){
                    swal({
                        title: 'Felicidades!',
                        text: 'Oferta realizada',
                        type: 'success'
                    }).then(function(){
                                window.location.href = "{% url 'Subasta_subasta' %}";
                                }, function(dismiss){
                                window.location.href = "{% url 'Subasta_subasta' %}";
                                }
                        );
                },
                error: function(){
                    alert("error")
                }
            });
        });
        $("#btn_comment").on('click', function(){
            $.ajax({
                url: '{% url "Subasta_ofertar" auction.pk %}',
                type: 'POST',
                data: {
                    'comentary': $("#comentary").val(),
                    'action': 'comment',
                    'csrfmiddlewaretoken': '{{ csrf_token}}'
                },
                success: function(data){
                    swal({
                        title: 'Felicidades!',
                        text: 'Comentario realizado',
                        type: 'success'
                    }).then(function(){
                                location.reload();
                                }, function(dismiss){
                                    location.reload();
                                }
                        );
                },
                error: function(){
                    alert("error")
                }
            });
        });
    });
</script>
{% endblock %}
