{% extends 'base.html' %}
{% load static %}
{% block Title %}
    <title>Mis pasajes</title>
{% endblock %}

{% block Style %}
<style>
        .star{
          color: goldenrod;
          font-size: 2.0rem;
          padding: 0 1rem; /* space out the stars */
        }
        .star::before{
          content: '\2606';    /* star outline */
          cursor: pointer;
        }
        .star.rated::before{
          /* the style for a selected star */
          content: '\2605';  /* filled star */
        }
        
        .stars{
            counter-reset: rateme 0;   
            font-size: 2.0rem;
            font-weight: 900;
        }
        .star.rated{
            counter-increment: rateme 1;
        }
        .stars::after{
            content: counter(rateme) '/5';
        }
    </style>

{% endblock %}

 {% block Content %}

 <div class="wrapper wrapper-content animated fadeInRightBig">
    <div class="ibox">
        <div class="row">
            <div class="col-md-6">
                <div class="ibox-content">         
                    <h2>{{profile_id.first_name}} {{profile_id.last_name}}</h2>
                    {% for x in range %}
                        {% if x < puntuation %}
                            <span> <i class="fa fa-star" style="color: rgb(255, 145, 0);"></i> </span>
                        {% else %}
                            <span> <i class="fa fa-star"></i> </span>
                        {% endif %}
                    {% endfor %}
                    
                    <p>Ranking vendedor</p>
                    <div class="m-t-md">
                        <p>Califica!</p>
                    </div>
                    <div class="row m-t-md m-b-xl">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="stars" >
                                <span class="star" onclick="setStar(1)">&nbsp;</span>
                                <span class="star" onclick="setStar(2)">&nbsp;</span>
                                <span class="star" onclick="setStar(3)">&nbsp;</span>
                                <span class="star" onclick="setStar(4)">&nbsp;</span>
                                <span class="star" onclick="setStar(5)">&nbsp;</span>
                            </div>
                            <button type="button" id="agregarVal" class="btn btn-block btn-success m-t-md">Enviar Valoración</button>
                        </div>                                   
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
{% endblock %}
{% block JavaScript %}
<script src="{% static 'js/plugins/sweetalert2/sweetalert2.all.min.js' %}"></script>
<script>
        var puntuacion = 0;

        document.addEventListener('DOMContentLoaded', function(){
            let stars = document.querySelectorAll('.star');
            stars.forEach(function(star){
                star.addEventListener('click', setRating); 
            });
            
            let rating = parseInt(document.querySelector('.stars').getAttribute('data-rating'));
            let target = stars[rating - 1];
            target.dispatchEvent(new MouseEvent('click'));
        });
        function setRating(ev){
            let span = ev.currentTarget;
            let stars = document.querySelectorAll('.star');
            let match = false;
            let num = 0;
            stars.forEach(function(star, index){
                if(match){
                    star.classList.remove('rated');
                }else{
                    star.classList.add('rated');
                }
                //are we currently looking at the span that was clicked
                if(star === span){
                    match = true;
                    num = index + 1;
                }
                
                document.querySelector('.stars').setAttribute('data-rating', num);
            }); 
   
                        
                        
                    }
                    
        function setStar(params) {
            puntuacion = params;

        }
        $("#agregarVal").on('click', function(){
            $.ajax({
                url: '{% url "Subasta_profile" profile_id.pk %}',
                type: 'POST',
                data: {
                    'punt': puntuacion,
                    'csrfmiddlewaretoken': '{{ csrf_token}}'
                },
                success: function(data){
                    swal({
                        title: 'Felicidades!',
                        text: 'Puntuacion realizada',
                        type: 'success'
                    }).then(function(){
                        window.location.href = "{% url 'Subasta_subasta' %}";
                            }, function(dismiss){
                                window.location.href = "{% url 'Subasta_subasta' %}";
                                }
                                );
                            },
                            error: function(){
                                alert("error")
                            }
                        });
                    });
               
        

</script>
<script>

                {/*  */}
</script>




{% endblock %}
