{% extends 'base.html' %}

{% block Title %}
    <title>Subasta</title>
{% endblock %}

{% block Style %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
{% endblock %}


 {% block Content %}

    <div class="wrapper wrapper-content row animated fadeInRightBig">
            <div class="col-lg-12">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-3">
                            <h1>Subastas disponibles</h1>
                        </div>
                        <div class="col-md-3">
                            <a type="button" href="{% url 'Subasta_mis_subasta' %}" class="center btn btn-primary">Mis subastas</a>
                        </div>
                    </div>
                    
                    <table id="subasta" class="display">
                        <thead>
                            <tr>
                                <th>Ciudad Destino</th>
                                <th>Terminal</th>
                                <th>Fecha</th>
                                <th>Hora Salida</th>
                                <th>Empresa</th>
                                <th>Monto</th>
                                <th>Accion</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for x in auctions %}
                                <tr>
                                    <td>{{x.passage.destination}}</td>
                                    <td>{{x.passage.station_departure}}</td>
                                    <td>{{x.passage.date_departure}}</td>
                                    <td>{{x.passage.hour_departure}}</td>
                                    <td>{{x.passage.company}}</td>
                                    <td>{{x.price_init}}</td>
                                    <td class="center"><a type="button" href="{% url 'Subasta_ofertar' x.pk %}" class="btn btn-xs btn-primary">Ofertar</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block JavaScript %}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

<script>
    $(document).ready( function () {
    $('#subasta').DataTable();
} );
</script>
{% endblock %}
