{% extends 'base.html' %}

{% block Title %}
    <title>Dashboard</title>
{% endblock %}

 {% block Content %}
    <h1>Dashboard</h1>
    <div class="wrapper wrapper-content animated fadeInRightBig">
        <div class="ibox">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 border-right">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-b-lg">
                            <h3>{{request.user.first_name}} {{request.user.last_name}}</h3>
                            {% for x in range %}
                                {% if x < puntuation %}
                                    <span> <i class="fa fa-star" style="color: rgb(255, 145, 0);"></i> </span>
                                {% else %}
                                    <span> <i class="fa fa-star"></i> </span>
                                {% endif %}
                            {% endfor %}                                     
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 border-bottom">
                            <h3>Ultimos Comentarios</h3>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <br>
                            {% for x in comments %}
                                <div class=" border-bottom">
                                    <h4>{{x.user_commentator.user.first_name}} {{x.user_commentator.user.last_name}}</h4>
                                    <p>{{x.commentary}}</p>
                                </div>
                            {% endfor %}
                        </div>    
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 border-bottom m-b-lg m-t-md">
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <h3>Subastas tuyas en linea</h3>
                            <p>{{auctions_online}}</p>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <h3>Subastas totales</h3>
                            <p>{{auctions_total}}</p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 border-left">
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <h3>Tus pasajes</h3>
                            <p>{{passage_online}}</p>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <h3>Total Pasajes</h3>
                            <p>{{passage_total}}</p>
                        </div>
                    </div>
                    
                </div>               
            </div>
        </div> 
    </div>
{% endblock %}
{% block JavaScript %}


{% endblock %}
