{% extends 'base.html' %}
{% load static %}

{% block Title %}
    <title>Perfil</title>
{% endblock %}

{% block Style %}

{% endblock %}


{% block Content %}
<h1>Perfil</h1>
<div class="wrapper wrapper-content animated fadeInRightBig">
    <div class="ibox">
        <div class="ibox-content">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 border-right">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

                        <img alt="image" class="img-circle  img-responsive" src="{% get_media_prefix %}{{ user_profile.userprofile.imageProfile }}"/>
                        <h3>{{user_profile.first_name}} {{user_profile.last_name}}</h3>
                        {% for x in range %}
                            {% if x < puntuation %}
                                <span> <i class="fa fa-star" style="color: rgb(255, 145, 0);"></i> </span>
                            {% else %}
                                <span> <i class="fa fa-star"></i> </span>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 border-left">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 border-bottom text-center">
                        <h2>Comentarios</h2>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <br>
                        {% for x in comments %}
                            <div class=" border-bottom">
                                <h4>{{x.user_commentator.user.first_name}} {{x.user_commentator.user.last_name}}</h4>
                                <p>{{x.commentary}}</p>
                            </div>
                        {% endfor %}
                        <div class="m-t-xl">
                            <h4>Agrega un Comentario</h4>
                            <div class="input-group"><input type="text" id="comentary" class="form-control "> <span class="input-group-btn"> <button type="button" id="btn_comment" class="btn btn-success">Enviar</button> </span></div>    
                        </div>
                    </div> 
                </div>
                
            </div>               
        </div>
    </div> 
</div>
{% endblock %}
{% block JavaScript %}
<script src="{% static 'js/plugins/sweetalert2/sweetalert2.all.min.js' %}"></script>
<script>
    $(document).ready(function(){
        $("#btn_comment").on('click', function(){
            $.ajax({
                url: '{% url "Login_profile" user_profile.pk %}',
                type: 'POST',
                data: {
                    'comentary': $("#comentary").val(),
                    'csrfmiddlewaretoken': '{{ csrf_token}}'
                },
                success: function(data){
                    swal({
                        title: 'Felicidades!',
                        text: 'Comentario realizado',
                        type: 'success'
                    }).then(function(){
                                location.reload();
                                }, function(dismiss){
                                    location.reload();
                                }
                        );
                },
                error: function(){
                    alert("error")
                }
            });
        });
    });
    </script>
{% endblock %}