{% load static %}
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block Title %}
        <title>Register</title>
    {% endblock %}

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">

    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/ok.css' %}" rel="stylesheet">
</head>

<body>

    <div class="row">
        <div class="split left col-sm-6 col-md-6 col-lg-6 col-xl-6 ">
             <div class="centered">
                <img class="img-responsive" src="{% static 'img/logo.png' %}"/>
                <h1 class="font-bold">EzTicket - Unab </h1>
                
            </div>

        </div>
        <div class="split right col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <div class="ibox-content">
                    <h1 class="font-bold">EzTicket</h1>
                    <br>
                    <h4>Bienvenido, crea tu cuenta!</h4>
                    <br>
                    <form id="forms_login" class="m-t" role="form" action="">
                        <div class="form-group col-xl-6 col-lg-6">
                            <input type="email" id="user" name="user" class="form-control" placeholder="Correo">
                        </div>
                        <div class="form-group col-xl-6 col-lg-6">
                            <input type="text" id="name" name="name" class="form-control" placeholder="Nombre">
                        </div>
                        <div class="form-group col-lg-6">
                            <input type="text" id="sename" name="sename" class="form-control" placeholder="Apellido">
                        </div>
                        <div class="form-group col-lg-6">
                            <input type="text" id="rut" name="rut" class="form-control" placeholder="Rut">
                        </div>
                        <div class="form-group col-lg-6">
                             <input type="password" id="pass" name="pass" class="form-control" placeholder="Password">
                        </div>
                        <div class="form-group col-lg-6">
                             <input type="password" id="confpass" name="confpass" class="form-control" placeholder="Confirm Password">
                        </div>
                        <div class="form-group col-lg-6">
                             <input type="tel" id="cel" name="cel" class="form-control" data-mask="9 99999999" placeholder="Celular">
                        </div>
                        <div class="col-lg-6">
                            <select class="form-control m-b" id="discapacity" name="account" placeholder="Elige discapacidad" required>
                                <option disabled selected hidden>Elige discapacidad</option>
                                <option value="N">Ninguna</option>
                                <option value="V">Visual</option>
                                <option value="A">Auditiva</option>
                                <option value="M">Motriz</option>
                                <option value="I">Intelectual</option>
                            </select>
                        </div>
                        <div class=" ibox-content col-lg-12 m-b">
                            <label for="avatar">Elige una foto de perfil</label>
                            {% csrf_token %}
                            <input type="file" id="imageProfile" name="avatar" accept="image/png, image/jpg">
                        </div>
                        <div class="col-lg-12">
                            <button type="button" id="register_btn" class="btn btn-primary block full-width m-b">Registrarse!</button>
                        </div>
                        <p class="text-muted text-center">
                            <small>You have an account?</small>
                        </p>
                        <a class="btn btn-sm btn-white btn-block" href="{% url 'Login_login' %}">Sign in</a>
                    </form>
                </div>
            
        </div>
    </div>

<!-- Mainly scripts -->
<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
<script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

<!-- Custom and plugin javascript -->
<script src="{% static 'js/inspinia.js' %}"></script>
<script src="{% static 'js/plugins/pace/pace.min.js' %}"></script>
<script src="{% static 'js/plugins/sweetalert2/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'js/plugins/jasny/jasny-bootstrap.min.js' %}"></script>
<script>
    $(document).ready(function(){
        function isValidRUT(rut) {
            if (!rut | typeof rut !== 'string') return false;
            var regexp = /^\d{7,8}-[k|K|\d]{1}$/;
            return regexp.test(rut);
        }
        $("#register_btn").on('click',function(){
            if($("#pass").val() == $("#confpass").val()){
                if (isValidRUT($("#rut").val())){
                    $.ajax({
                        url: '{% url "Login_register" %}',
                        type: 'POST',
                        data: {
                            'user': $("#user").val(),
                            'pass': $("#pass").val(),
                            'first_name': $("#name").val(),
                            'last_name': $("#sename").val(),
                            'rut': $("#rut").val(),
                            'discapacity' : $('#discapacity').val(),
                            'phone' : $("#cel").val(),  
                            'image' : $("imageProfile").val(),
                            'csrfmiddlewaretoken': '{{ csrf_token}}'
                        },
                        success: function(data){
                            if (data.result == true){
                                swal({
                                    title: 'Felicidades!',
                                    text: 'Cuenta creada exitosamente',
                                    type: 'success'
                                }).then(function(){
                                    window.location.href = "{% url 'Login_validate' %}";
                                    }, function(dismiss){
                                    window.location.href = "{% url 'Login_validate' %}";
                                    }
                                );
                            }else if (data.result == 'username'){
                                swal({
                                    title: 'Oops...',
                                    text: 'Este usuario ya esta disponible',
                                    type: 'error'
                                })
                            }else{
                                swal({
                                    title: 'Oops...',
                                    text: 'Dato incompleto y/o incorrecto',
                                    type: 'error'
                                })
                            }
                        },
                        error: function(){
                            alert("error")
                        }
                    });
                }else{
                    swal({
                        title: 'Oops...',
                        text: 'Rut invalido (Example:19123123-9)',
                        type: 'error'
                    })
                }
            }else{
                swal({
                    title: 'Oops...',
                    text: 'Las contraseñas no coinciden',
                    type: 'error'
                })
            }
        })
        console.log(data);
    });
</script>
