{% extends 'base.html' %}
{% load static %}
{% block Title %}
    <title>Consultar Pasaje</title>
{% endblock %}

{% block Style %}

{% endblock %}

 {% block Content %}

 <div class="wrapper wrapper-content animated fadeInRightBig">
    <div class="ibox">
        <div class="row text-center">
            <div class="col-md-3">
                <div class="ibox-content">         
                    <div class="row m-t-md m-b-xl">
                        <div class="col-md-6  col-md-offset-3 ">
                            <h2>Consultar bus</h2>
                        </div>                                   
                    </div>
                    <div class="row">
                        <div class="col-md-6 m-b-xl  col-md-offset-3 ">
                            <div class="form-group">
                                <input type="text" id="code_passage" placeholder="Codigo del pasaje" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row m-t-md">
                        <div class="col-md-6 m-t-md col-md-offset-3">
                            <p>Ingresa el Codigo</p>
                            <button type="button" id="consultarPasaje" class="btn btn-success m-t-xs">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
{% endblock %}
{% block JavaScript %}
<script>
    $(document).ready( function (){
        $('#consultarPasaje').on('click', function(){
            $.ajax({
                url: '{% url "Tracking_consultar" %}',
                type: 'POST',
                data: {
                    'code_passage': $("#code_passage").val(),
                    'csrfmiddlewaretoken': '{{ csrf_token}}'
                },
                success: function(data){
                    // if (data.result){
                    //     window.location.href = "{% url 'Login_dashboard' %}"
                    // }else{
                    //     swal({
                    //         title: 'Oops...',
                    //         text: 'Usuario y/o contraseña incorrecta',
                    //         type: 'error'
                    //     })
                    // }

                },
                error: function(){
                    alert("error")
                }
            });
        });
    });


</script>

{% endblock %}
