{% load static %}
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element pr30"> 
                    <span>
                        <a href="{% url 'Login_profile' request.user.pk %}">
                            <img alt="image" class="img-circle img-responsive" src="{% get_media_prefix %}{{ request.user.userprofile.imageProfile }}" />
                        </a>
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" >
                        <span class="clear">
                            <span class="block m-t-xs"> <strong class="font-bold">{{ request.user.first_name }}</strong></span>
                        </span>
                    </a>
                </div>
            </li>
            <br>
            <li>
                <a href="{% url 'Login_dashboard' %}"><i class="fa fa-home fa-lg"></i> <span class="nav-label">Dashboards</span></a>
                <!-- <ul class="nav nav-second-level collapse">
                    <li><a href="index.html">Dashboard v.1</a></li>
                </ul> -->
            </li>
            <li>
                <a href="{% url 'Subasta_subasta' %}"><i class="fa fa-shopping-cart fa-lg"></i> <span class="nav-label">Subastas</span></a>
                <!-- <ul class="nav nav-second-level collapse">
                    <li><a href="index.html">Ver subastas</a></li>
                </ul>
                <ul class="nav nav-second-level collapse">
                    <li><a href="index.html">Subastar</a></li>
                </ul> -->
            </li>
            <li>
                <a href="{% url 'Print_tablePrint' %}"><i class="fa fa-barcode fa-lg"></i> <span class="nav-label">Pasajes</span></a>
                <!-- <ul class="nav nav-second-level collapse">
                    <li><a href="index.html">Dashboard v.1</a></li>
                </ul> -->
            </li>
            <li>
                <a href="{% url 'Tracking_consultar' %}"><i class="fa fa-support fa-lg"></i> <span class="nav-label">Tu bus</span></a>
                <!-- <ul class="nav nav-second-level collapse">
                    <li><a href="index.html">Dashboard v.1</a></li>
                </ul> -->
            </li>
            <!-- <li class="special_link"> -->
                <!-- <a href="package.html"><i class="fa fa-database"></i> <span class="nav-label">Package</span></a> -->
            <!-- </li> -->
        </ul>

    </div>
</nav>