{% load static %}
<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block Title %}
            <title>Default</title>
        {% endblock %}
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">

        <link href="{% static 'css/animate.css' %}" rel="stylesheet">
        <link href="{% static 'css/ok.css' %}" rel="stylesheet">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">

        {% block Style %}
        {% endblock %}
    </head>
    <body class="">

        <div id="wrapper">

            {% include '_sidebar.html' %}
            <div id="page-wrapper" class="gray-bg">

                <div class="row border-bottom">
                    <nav class="navbar navbar-static-top  " role="navigation" style="margin-bottom: 0">
                        <div class="navbar-header">
                            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                        </div>
                        <ul class="nav navbar-top-links navbar-right">
                            <!-- <li>
                                <span class="m-r-sm text-muted welcome-message">Welcome to INSPINIA+ Admin Theme.</span>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                    <i class="fa fa-bell"></i>  <span class="label label-primary">2</span>
                                </a>
                                <ul class="dropdown-menu dropdown-alerts">
                                    <li>
                                        <a href="mailbox.html">
                                            <div>
                                                <i class="fa fa-envelope fa-fw"></i> Example
                                                <span class="pull-right text-muted small">4 minutes ago</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="profile.html">
                                            <div>
                                                <i class="fa fa-twitter fa-fw"></i> Example 2
                                                <span class="pull-right text-muted small">12 minutes ago</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li> -->
                            <li>
                                <a href="{% url 'Login_login' %}">
                                    <i class="fa fa-sign-out"></i> Log out
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                {% block Content %}
                    <div class="wrapper wrapper-content">
                        <div class="middle-box text-center animated fadeInRightBig">
                            <h3 class="font-bold">This is page content</h3>
                            <div class="error-desc">
                                You can create here any grid layout you want. And any variation layout you imagine:) Check out
                                main dashboard and other site. It use many different layout.
                                <br/>
                            </div>
                        </div>
                    </div>
                {% endblock %}
                <div class="footer">
                    <div class="pull-right">
                        10GB of <strong>250GB</strong> Free.
                    </div>
                    <div>
                        <strong>Copyright</strong> Example Company &copy; 2014-2017
                    </div>
                </div>
            </div>

        </div>

        <!-- Mainly scripts -->
        <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
        <script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
        <script src="{% static 'js/plugins/jasny/jasny-bootstrap.min.js' %}"></script>

        <!-- Custom and plugin javascript -->
        <script src="{% static 'js/inspinia.js' %}"></script>
        <script src="{% static 'js/plugins/pace/pace.min.js' %}"></script>
        {% block JavaScript %}
        {% endblock %}


    </body>
</html>
