{% extends 'base.html' %}
{% load static %}
{% block Title %}
    <title>Mis pasajes</title>
{% endblock %}

{% block Style %}

{% endblock %}

 {% block Content %}

 <div class="wrapper wrapper-content animated fadeInRightBig">
    <div class="ibox">
        <div class="row">
            <div class="col-md-6">
                <div class="ibox-content">         
                    <h2>Agregar Pasaje</h2>
                    <h4>Información del Pasaje</h4>
                    <div class="row m-t-md m-b-xl">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" placeholder="Estación salida"  id="station_departure" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" placeholder="Compañia" id="company" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" placeholder="Destino" id="destination" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" placeholder="Asiento" id="seat" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" placeholder="Piso" id="tier" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" placeholder="Fecha Salida" id="date_departure" data-mask="9999-99-99" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" placeholder="Hora salida" id="hour_departure" data-mask="99:99:99" class="form-control">
                            </div>
                        </div>                                   
                    </div>
                </div>
                <button type="button" id="agregarPasaje" class="btn btn-block btn-primary">Agregar pasaje</button>
            </div>
        </div>
    </div> 
</div>
{% endblock %}
{% block JavaScript %}

<script src="{% static 'js/plugins/sweetalert2/sweetalert2.all.min.js' %}"></script>

<script>
    $(document).ready(function(){
        $("#agregarPasaje").on('click', function(){
            $.ajax({
                url: '{% url "Print_mis_pasajes" %}',
                type: 'POST',
                data: {
                    'station_departure': $("#station_departure").val(),
                    'company': $("#company").val(),
                    'destination': $("#destination").val(),
                    'seat': $("#seat").val(),
                    'tier': $("#tier").val(),
                    'date_departure': $("#date_departure").val(),
                    'hour_departure': $("#hour_departure").val(),
                    'csrfmiddlewaretoken': '{{ csrf_token}}'
                },
                success: function(data){
                    if (data.result == true){
                        swal({
                            title: 'Felicidades!',
                            text: 'Pasaje creado exitosamente',
                            type: 'success'
                        }).then(function(){
                            window.location.href = "{% url 'Print_tablePrint' %}";
                            }, function(dismiss){
                                window.location.href = "{% url 'Print_tablePrint' %}";
                            }
                        );
                    }else{
                        swal({
                            title: 'Oops...',
                            text: 'Dato incompleto y/o incorrecto',
                            type: 'error'
                        })
                    }
                },
                error: function(){
                    alert("error")
                }
            });
        });
    });
</script>
{% endblock %}
