{% extends 'base.html' %}

{% block Title %}
    <title>Tus Pasajes</title>
{% endblock %}

{% block Style %}
    {% load static %}  
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
{% endblock %}

 {% block Content %}

    <div class="wrapper wrapper-content row animated fadeInRightBig">
        <div class="col-lg-12">
            <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-3">
                            <h1>Tus pasajes</h1>
                        </div>
                        <div class="col-md-3">
                            <a type="button" href="{% url 'Print_mis_pasajes' %}" class="center btn btn-primary">Agregar pasaje</a>
                        </div>
                    </div>
                <table id="myTable" class="display">
                    <thead>
                        <tr>
                            <th>Ciudad Destino</th>
                            <th>Terminal</th>
                            <th>Fecha</th>
                            <th>Hora Salida</th>
                            <th>Empresa</th>
                            <th>Accion</th>
                            </tr>
                    </thead>
                    <tbody>
                        {% for x in passages %}
                            <tr>
                                <td>{{x.destination}}</td>
                                <td>{{x.station_departure}}</td>
                                <td>{{x.date_departure}}</td>
                                <td>{{x.hour_departure}}</td>
                                <td>{{x.company}}</td>
                                <td class="center">
                                    <a type="button" href="{% url 'Print_print' x.pk %}" class="btn btn-xs btn-success">Ver</a>
                                    <a type="button" data-id="{{x.pk}}" class="btn btn-xs btn-danger btn_delete">Eliminar</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block JavaScript %}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script src="{% static 'js/plugins/sweetalert2/sweetalert2.all.min.js' %}"></script>
<script>
    $(document).ready( function () {
        $('#myTable').DataTable();
        $('.btn_delete').on('click', function(){
            $.ajax({
                url: '{% url "Print_tablePrint" %}',
                type: 'POST',
                data: {
                    'passage_id': $(this).data('id'),
                    'csrfmiddlewaretoken': '{{ csrf_token}}'
                },
                success: function(data){
                    swal({
                        title: 'Felicidades!',
                        text: 'Pasaje eliminado',
                        type: 'success'
                    }).then(function(){
                                location.reload();
                                }, function(dismiss){
                                    location.reload();
                                }
                        );
                },
                error: function(){
                    alert("error")
                }
            });
        });
} );
</script>
{% endblock %}
